{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<form method="post" class="form">
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<div class="mb-3">
			<h1 class="h3 mb-3 font-weight-normal">Register</h1>

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
			<br>
			{{ form_row(registrationForm.agreeTerms) }}
			<br>

			<button type="submit" class="btn btn-outline-secondary">Register</button>
			{{ form_end(registrationForm) }}
			<br>
			<a href="{{ path('app_login') }}">
				<h5>Already have an account ?</h5>
			</a>
		</div>
	</div>
</form>
{% endblock %}
