<body class="new">
		<form name="mood1" method="post" style="
				    width: 45vw;
				    height: 75vh;">
			{{ form_start(form) }}
    		{{ form_row (form.type, {'attr': {'style': 'display:none;'}}) }}
			<div id="carouselExample" class="carousel slide">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<button type="button" class="btn btn-outline-success btn-lg d-block w-50" data-value="happy">😊</button>
					</div>
					<div class="carousel-item">
						<button type="button" class="btn btn-outline-warning btn-lg d-block w-50" data-value="septic">😶</button>
					</div>
					<div class="carousel-item">
						<button type="button" class="btn btn-outline-danger btn-lg d-block w-50" data-value="angry">😠</button>
					</div>
					<div class="carousel-item">
						<button type="button" class="btn btn-outline-primary btn-lg d-block w-50" data-value="sad">😢</button>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
			{{ form_row (form.description) }}
			{{ form_row (form.date) }}
			{{ form_widget(form) }}
			<button type="submit" class="btn btn-outline-secondary btn-sm">{{ button_label|default('Save') }}</button>
			{{ form_end(form) }}
		</form>
</body>
